source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core ~> 7.0
nuget FSharp.Data
nuget NicoVIII.TypedPersistence.Json prerelease
nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget Avalonia.FuncUI
nuget Avalonia.FuncUI.Elmish
nuget Avalonia.Themes.Fluent
nuget Newtonsoft.Json
nuget NicoVIII.Dozenalize
nuget NicoVIII.Seximalize
nuget NicoVIII.SimpleOptics
nuget FsHttp

nuget Expecto.FsCheck >= 9.0
nuget Microsoft.NET.Test.Sdk >= 16.0
nuget YoloDev.Expecto.TestSdk
