source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Data
nuget NicoVIII.TypedPersistence.Json prerelease
nuget Avalonia.Diagnostics
nuget Elmish
nuget JaggerJo.Avalonia.FuncUI.DSL
nuget JaggerJo.Avalonia.FuncUI.Elmish
nuget Myriad.Core
nuget Myriad.Sdk
nuget Myriad.Plugins
nuget Newtonsoft.Json
nuget NicoVIII.Dozenalize
nuget NicoVIII.Seximalize
nuget NicoVIII.SimpleOptics
nuget SchlenkR.FsHttp

nuget Expecto.FsCheck >= 9.0
nuget Microsoft.NET.Test.Sdk >= 16.0
nuget YoloDev.Expecto.TestSdk
